
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
.prompt {

  font-weight: bold;
  font-size: 80px;

}

.answerclass {

  font-size: 60px;
  font-weight: bold;
}

.inputbox {

  display: inline-block;
}

.buttonclass {
  display: inline-block;
}
